# Django Core
SECRET_KEY=tu_secret_key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://usuario:contraseña@db:5432/db_name

# PostgreSQL Docker
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password

# CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:8000
