# Django Core
SECRET_KEY=Tu_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (Railway - usa DATABASE_URL en producción)
# DATABASE_URL=postgresql://user:password@host:port/dbname

# CSRF (Railway)
# CSRF_TRUSTED_ORIGINS=https://your-app.railway.app

